/*     
#F9F9F9 - refreshing white
#FF7400 - fuse orange
#D4EE5E - wasabi
#17102F - stygian
*/     

body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    color: #17102F;
    background-color: #F9F9F9;
}

.top-bar h1 {
    font-family: "Courier New", Courier, monospace;
    display: block;
    width: 800px;
    margin: auto;
    padding: 8px 0 4px 0;
    background-color: #D4EE5E;
    border-bottom: solid 8px #17102F;
}

article {
    width: 800px;
    margin: 32px auto 32px auto;
}

#display {
    display: block;
    box-shadow: 0 0 8px #17102F;
}

.warning {
    display: block;
    padding: 4px;
    background-color: #FF7400;
}

.alpha {
    float: right;
    background-color: #D4EE5E;
    color: #17102F;
    padding: 4px;
}